
 html{
    height: 2000px;
} 

.div1{
    width: 50px;
    height: 50px;
    background-color: #252525;    
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 8px;
   
}

/* 
Relative verdiğim elemanı normal akışı bozmadan 4 köşeden(top, right,bottom, left) özelliklerini 
kullanarak hareket ettirebilirim. */


.div2{
    width: 200px;
    height: 200px;
    background-color: green;
    margin-bottom: 30px;
    
    
    
   
}

/* Position absolute olan bir eleman kendisine en yakın olan ve kendisini kapsayan position relative bir
 elemana göre kendisini konumlandırır. Eğer kendisini kapsayan veya kendisinden üst konumda başka
 bir position relative eleman yok ise body'e göre kendisini konumlandırır. 
 Çünkü body nin default değeri position: relative' dir. */


.div3{
    width: 200px;
    height: 200px;
    background-color: blue; 
    
}

.container1{
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: yellow;
    top: 0px;
    left: 0px;
   
   
    
}

.container2{  
    margin-top: 150px;
    height: 700px;
    background-color: cyan;
}



.div1 i{
    color: aqua;
    padding: 17px 17px;
}